@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* header 영역 */


/* main 영역 */
main {

    display: flex;
    justify-content: center;
    align-items: center;
    /*background: darkgreen;*/
    /*width: 100%;*/
    height: 100vh;
}

.view-port {
    background: #3a70c3; /* 배경 파란색 */;
    width: 60%;
    height: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left-box {
    display: flex;
    flex-direction: column;
    gap: 350px;

}

.button {
    width: 400px;
    height: 150px;
    background-color: #f47c3c; /* 오렌지색 */
    color: white;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.main-image {
    width: 500px;
    height: 700px;
    background-color: #ffc107; /* 노란색 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    text-align: center;
}

/* footer 영역 */

