@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#modal-overlay {
    height: 600px;
    width: 60%;
    margin: auto;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-content {
    width: 60%;
    height: 80%;
    background: #7f9aee;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-display {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 20px;
}

/* 물고기 이미지 */
#modal-fish-container {
    border: 2px solid #000;
    position: absolute;
    width: 70%;
    height: 300px;
    top: 70px;
}

#modal-fish-container img {
    width: 100%;
    object-fit: contain;
}

.gauge-container {
    position: absolute;
    top: 70px; /* 물고기와 같은 y좌표로 맞춤 */
    right: 26px;
    width: 60px;
    height: 300px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #f1f1f1;
    overflow: hidden;
}

.guide-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    z-index: 2; /* 게이지 바보다 위에 있도록 설정 */
}

.guide-70 {
    bottom: 70%;
}

.guide-90 {
    bottom: 90%;
}

#gauge-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #4caf50;
    transition: height 0.3s ease;
    z-index: 1; /* 가이드 라인보다 아래 */
}

#modal-click-btn {
    position: absolute;
    bottom: 25px;
    padding: 15px 30px;
    font-size: 20px;
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#modal-click-btn:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}


main {

    display: flex;
    justify-content: center;
    align-items: center;
    /*background: darkgreen;*/
    /*width: 100%;*/
    height: 100vh;
}

main .view-port {
    background: #3a70c3; /* 배경 파란색 */;
    width: 60%;
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

main .view-port .left-box {
    display: flex;
    flex-direction: column;
    gap: 150px;

}

main .view-port .left-box .content {
    width: 300px;
    height: 150px;
    /*background-color: #f47c3c; !* 오렌지색 *!*/
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid black;*/
    /*box-shadow: 2px 2px 5px rgba(0,0,0,0.2);*/
}

main .view-port .left-box .start-button {
    width: 300px;
    height: 150px;
    background-color: #f47c3c; /* 오렌지색 */
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    border-radius: 30px;
}

main .view-port .left-box .start-button:hover {
    background: #2980b9;
    /* 손모양 커서! */
    cursor: pointer;
}


main .view-port .main-image {
    width: 400px;
    height: 500px;
    background-color: #ffc107; /* 노란색 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    text-align: center;
}



